* {
  font-family: sans-serif;
}

li {
  display: inline;
  list-style-type: none;
}

li::before {
  content: "♦";
  color: black;
  margin: 0px 10px;
}

.active::before {
  content: none;
}

.active {
  font-weight: bold;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #3072C4;
}
