input {
  appearance: none;

  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1.5px solid rgba(0, 0, 0, .15);
  outline: none;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}

input:checked::after {
  content: ' ';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 4px;
  top: 4px;
}

input:disabled {
  background-color: rgba(128, 128, 128, .15);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1.5px solid rgba(0, 0, 0, .15);
}

input:disabled::after {
  opacity: .5;
}

input:focus {
  border: 2px solid #1E90FF;
}

[name="radio-group-1"] {
  background: linear-gradient(0deg, rgba(128, 128, 128, .15), rgba(255, 255, 255, .15));
}

[name="radio-group-1"]:hover {
  background: linear-gradient(0deg, rgba(128, 128, 128, .35), rgba(255, 255, 255, .35));
  border: 1.5px solid rgba(0, 0, 0, .35);
}

[name="radio-group-1"]:active {
  background-color: rgba(128, 128, 128, .15);
}

label {
  position: relative;
  left: 7px;
  top: -4px;
}

[name="radio-group-2"] ~ label {
  color: rgba(0, 0, 0, .35);
}
