<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout_3</title>
    <link rel="stylesheet" href="layout_3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="header-wrapper">
        <div class="header">
          <img class="header__logo" src="logonew_1.svg" alt="Xfence">
          <div class="navigation">
            <div class="navigation-block">
              <a class="navigation-block__element" href="#">
                Главная
              </a>
            </div>
            <div class="navigation-block">
              <a class="navigation-block__element navigation-block__element_checked" href="#">
                Каталог
              </a>
            </div>
            <div class="navigation-block">
              <a class="navigation-block__element" href="#">
                Галерея
              </a>
            </div>
            <div class="navigation-block">
              <a class="navigation-block__element" href="#">
                Контакты
              </a>
            </div>
          </div>
          <div class="info-block">
            <div class="phone-link-block">
              <a class="phone-link-block__phone-link phone-link" href="tel:8(383)3535744">
                8 (383) 353-57-44
              </a>
            </div>
            <div class="basket-wrapper">
              <img class="basket-wrapper__logo" src="shopping-cart1.svg" alt="Корзина">
              <div class="basket-wrapper__count count">
                <div class="count__text">
                  1
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="content">
          <div class="content__heading-text text">
            Мы производим
          </div>
          <div class="content__text text">
            Мы производим ограждения на любой вкус и любые ваши
            требования. Наши продукты помогут облагородить
            владения с минимальными усилиями.
          </div>
          <div class="container">
            <div class="picture-wrapper">
              <img class="picture-wrapper__picture" src="post_1.png" alt="Guard">
              <div class="text-background">
                <div class="text-background__text text">
                  Guard
                </div>
              </div>
            </div>
            <div class="picture-wrapper">
              <img class="picture-wrapper__picture" src="post_2.png" alt="Prestige">
              <div class="text-background">
                <div class="text-background__text text">
                  Prestige
                </div>
              </div>
            </div>
            <div class="picture-wrapper">
              <img class="picture-wrapper__picture" src="post_3.png" alt="Standart">
              <div class="text-background">
                <div class="text-background__text text">
                  Standart
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-wrapper">
        <div class="footer">
          <div class="contacts-block">
            <div class="contacts">
              <div class="contacts__heading-text text">
                Позвонить
              </div>
              <div class="contacts-link-wrapper">
                <a class="contacts-link-wrapper__phone-link link" href="tel:8(383)3535744">
                  8 (383) 353-57-44
                </a>
              </div>
            </div>
            <div class="contacts-block">
              <div class="contacts__heading-text text">
                Контакты
              </div>
              <div class="contacts-link-wrapper">
                <a class="contacts-link-wrapper__link link"href="#">
                  г. Новосибирск, ул. Бетонная 6
                </a>
              </div>
              <div class="contacts-link-wrapper">
                <a class="contacts-link-wrapper__phone-link link" href="tel:8(383)3535744">
                  8 (383) 353-57-44
                </a>
              </div>
              <div class="contacts-link-wrapper">
                <a class="contacts-link-wrapper__link text"href="#">
                  zaboryavanta@yandex.ru
                </a>
              </div>
            </div>
          </div>
          <div class="footer-form">
            <div class="right-wrapper">
              <div class="right-wrapper__heading-text text">
                Оставить заявку на обратный звонок
              </div>
              <div class="input-block">
                <input class="input-block__text-field" type="text" placeholder="Имя">
                <input class="input-block__text-field" type="text" placeholder="Номер телефона">
              </div>
              <div class="right-wrapper__button button">
                <div class="button__text text">
                  Позвоните мне
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
