<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout_3</title>
    <link rel="stylesheet" href="layout_3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="root-wrapper">
      <div class="header">
        <div class="header-wrapper">
          <img class="header-wrapper__main-logo" src="logonew2_1.svg" alt="Здесь должен быть логотип">
          <div class="navi">
            <div class="navi-wrapper">
              <a class="navi-wrapper__elem" href="#">
                Главная
              </a>
            </div>
            <div class="navi-wrapper">
              <a class="navi-wrapper__elem navi-wrapper__elem_checked" href="#">
                Каталог
              </a>
            </div>
            <div class="navi-wrapper">
              <a class="navi-wrapper__elem" href="#">
                Галерея
              </a>
            </div>
            <div class="navi-wrapper">
              <a class="navi-wrapper__elem" href="#">
                Контакты
              </a>
            </div>
          </div>
          <div class="header-wrapper-right">
            <div class="header-link-wrapper">
              <a class="header-link-wrapper__phone-link phone-link" href="tel:8(383)3535744">
                8 (383) 353-57-44
              </a>
            </div>
            <div class="basket-wrapper">
              <img class="basket-wrapper__basket-logo" src="shopping-cart1.svg" alt="Здесь корзинка">
              <div class="basket-wrapper__basket-count basket-count">
                <div class="basket-count__text">
                  1
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-wrapper">
          <div class="content-wrapper__heading-text text">
            Мы производим
          </div>
          <div class="content-wrapper__text text">
            Мы производим ограждения на любой вкус и любые ваши
            требования. Наши продукты помогут облагородить
            владения с минимальными усилиями.
          </div>
          <div class="container">
            <div class="container-wrapper">
              <img class="container-wrapper__picture" src="post_1.png" alt="Здесь красивый забор">
              <div class="text-wrapper">
                <div class="text-wrapper__text text">
                  Guard
                </div>
              </div>
            </div>
            <div class="container-wrapper">
              <img class="container-wrapper__picture" src="post_2.png" alt="Здесь красивый забор">
              <div class="text-wrapper">
                <div class="text-wrapper__text text">
                  Prestige
                </div>
              </div>
            </div>
            <div class="container-wrapper">
              <img class="container-wrapper__picture" src="post_3.png" alt="Здесь красивый забор">
              <div class="text-wrapper">
                <div class="text-wrapper__text text">
                  Standart
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer-wrapper">
          <div class="left-wrapper">
            <div class="left-wrapper-block">
              <div class="left-wrapper-block__heading-text text">
                Позвонить
              </div>
              <div class="left-wrapper-link-wrapper">
                <a class="left-wrapper-link-wrapper__phone-link link" href="tel:8(383)3535744">
                  8 (383) 353-57-44
                </a>
              </div>
            </div>
            <div class="left-wrapper-block">
              <div class="left-wrapper-block__heading-text text">
                Контакты
              </div>
              <div class="left-wrapper-link-wrapper">
                <a class="left-wrapper-link-wrapper__link link"href="#">
                  г. Новосибирск, ул. Бетонная 6
                </a>
              </div>
              <div class="left-wrapper-link-wrapper">
                <a class="left-wrapper-link-wrapper__phone-link link" href="tel:8(383)3535744">
                  8 (383) 353-57-44
                </a>
              </div>
              <div class="left-wrapper-link-wrapper">
                <a class="left-wrapper-link-wrapper__link text"href="#">
                  zaboryavanta@yandex.ru
                </a>
              </div>
            </div>
          </div>
          <div class="right-wrapper">
            <div class="right-wrapper-block">
              <div class="right-wrapper-block__heading-text text">
                Оставить заявку на обратный звонок
              </div>
              <div class="input-block">
                <input class="input-block__text-field" type="text" placeholder="Имя">
                <input class="input-block__text-field" type="text" placeholder="Номер телефона">
              </div>
              <div class="right-wrapper-block__button button">
                <div class="button__text text">
                  Позвоните мне
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
